.DS_Store

# Images
development/public/images/avatars/
development/public/images/captchas/
development/public/images/smileys/
development/public/images/member_photos/
development/public/images/signature_attachments/
development/public/images/pm_attachments/

# For security do not publish the following files
development/system/expressionengine/config/database.php
development/system/expressionengine/config/config.php

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
