/**************************************************
 HOME PAGE STYLES
**************************************************/

#home {
  .main {
    padding-top: 4.5em;
    @include break-up($medium){
      padding-top: 6em;
    }
    article {
      @include reset-float;
      width: auto;
      max-width: 60em;
      margin: 0 auto;
    }
    h1 {
      margin: 0 0 .75em;
      text-align: center;
    }
    p {
      @include break-up($medium){
        @include font-size(16);
      }
    }
  }
}

section.blog {
  @extend %border-padding;
  background-color: $home-blog-bg;
  .inner {
    position: relative;
  }
  .title {
    margin: 0 0 1.5em;
  }
  .posts {
    @include break-up($small){
      width: 102.5%;
      margin-left: -2.5%;
    }
    @include break-up($x-large){
      width: 101.25%;
      margin-left: -1.25%;
    }
  }
  article {
    margin-bottom: 1.5em;
    padding: 3em 2.4em 2.4em;
    background-color: $white;
    @include break-up($small){
      @include float;
      width: 47.5%;
      margin-left: 2.5%;
      margin-bottom: 2.5%;
    }
    @include break-up($x-large){
      width: 23.75%;
      margin-left: 1.25%;
      padding: 2.4em 1.8em 1.8em;
    }
  }
  .post-title {
    margin: 0 0 .5em;
  }
  .post-details {
    margin: 0 0 1.25em;
  }
  .more {
    margin: 1.5em 0 0;
  }
  .button {
    clear: left;
    @include break-up($small){
      position: absolute;
      top: -.5em;
      right: 0;
    }
  }
}