/**************************************************
 FONT STACKS
**************************************************/

$sans-serif: "DejaVu Sans", "Helvetica Neue", Helmet, Freesans, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: "courier new", monospace, serif;

/**************************************************
 FONT USAGE
**************************************************/

$body-font: $serif;
$headline-font: $sans-serif;
$nav-font: $sans-serif;
$code-font: $monospace;

$button-font: $sans-serif;