/**************************************************
 UNICODE CHARACTERS
**************************************************/

$vertical-bar: "\007C";
$bullet: "\U2022";
$triangle-down: "\U25BC";
$triangle-up: "\U25B2";

/**************************************************
 SITE SPECIFIC
**************************************************/

$base-size: 10;
$side-padding: 6%;
$header-height: 84px;
$fixed-header-padding: 15em;